<!DOCTYPE html>
<html>
  <head>
    <title>Happy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:3000">Happy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000">All posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/posts/new">Create new post</a>
        </li>
        
</li>
      </ul>
    </div>
  <% if user_signed_in? %>
  <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/users/edit">Edit profile</a>
    <%= link_to "Exit", destroy_user_session_path, method: :delete, :class => 'btn btn-light'%>
  <% else %>
    <%= link_to "Login", new_user_session_path, :class => 'btn btn-light'%>
    <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary'%>
  <% end %>
  </div>
</nav>
<div class = "container main">
    <div class ="row">
      <div class = "col-md-12">
        <% flash.each do |name, message| %>
          <div class = "alert <%= bootstrap_class_for(name) %>">
          <button class = "close" data-dismiss = "alert">&times;</button>
           <%= message%>
          </div>
        <% end %>
      </div>
    </div>
  </div>


    <%= yield %>

  </body>
</html>
